{{#each this}}
		<div class="row">
			{{#each this}}
				<div touch-action="none" tabindex="-1" data-as-location="{{@../index}},{{@index}}" class="as-game-space {{state}} col-xs">
					<div class="as-content">
						{{#if this.bomb}}
							&#128163
						{{else}}
							{{count}}
						{{/if}}
					</div>
				</div>
			{{/each}}
		</div>
{{/each}}